

body {
         font-weight: 500;
        font-family:"releway";
        color: #000000;
        background-color:l #a58418;
        background:radial-gradient( #d6b267,grey,white, #d6b267);
    
    
    margin: 0;
    padding: 0;
}

body, select, button  {
  
    font-family: 'releway', Arial, Serif;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    text-align: center;
    font-family: 'Raleway', Arial, Serif;
}

.containerDisplayQuoteWithImg {
    margin: 20px 0;
}

.displayQuoteWithImg--img {
    display: flex;
    justify-content: space-around;
}

.displayQuoteWithImg--img img {
    width: 40%;
    filter: blur(10px);
}

#einsteinImg, #churchillImg {
    transition: all 500ms ease-in-out;
}

.displayQuoteWithImg--quote {
    padding: 30px;
    margin-top: 20px;
    border: double 10px;
    height: 135px;
    overflow: auto;
}

.quoteOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quoteOptions--author, .quoteOptions--number {
    margin: 5px;
}

.buttonQuote {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.buttonQuote--delete, .buttonQuote--generate {
    margin: 5px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .containerQuoteOptionsWithBtn {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    .quoteOptions {
        flex-direction: row;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 920px;
    }

    .displayQuoteWithImg--quote {
        height: 200px;
    }

}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .containerDisplayQuoteWithImg {
        display: flex;
    }

    .displayQuoteWithImg--img {
        flex-basis: 50%;
    }

    .displayQuoteWithImg--img img {
        width: 45%;
    }

    .displayQuoteWithImg--quote {
        flex-basis: 42%;
    }
}
